* {
    margin: 40px;
    
}

body {
    font-family: monospace;
    text-align: center;

}

h1 {
    color: black;
    text-align: center;
    font-size: 26px;
    margin: 20px;
    padding: 20px;
    background: #ff999950;
    border: 20px solid #cc000050;

}

img {
    width: 540px;
    height: 350px;
    display: block;
    margin: auto;
    padding: 20px;
    background: #ff999950;
    border: 20px solid #cc000050;

}

ul {
    font-weight: 600;
    font-size: 20px;
    color: brown;
    text-align: center;
    list-style-type:none;
    margin: 40px;
    padding: 20px;
    background: #ff999950;
    border: 20px solid #cc000050;
    
}

a {
    color: saddlebrown;
}

